* {
  margin: 0;
  padding: 0.25rem;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

thead {
  background-color: #eba417;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  font-size: 12px;
}

table td {
  border: 1px solid black;
}

th {
  height: 70px;
}

td {
  height: 50px;

  text-align: center;
}

th,
td {
  padding: 15px;
}

body {
  font: 400 1rem "Roboto", sans-serif;
}

.form-center {
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  justify-content: center;
  padding: 2.25rem;
}
